/*PC・スマホ共通スタイル*/
body{
  font-family:"Source Suns Pro","Hiragino Kaku Gothic ProN",Meiryo,Arial,sans-serif;
}

p{
  font-size:15px;
}

/*PC用のスタイル*/

@media screen and (min-width:768px){

body{
  max-width: 1080px;
  min-width:960px;
  margin:0 auto 0 auto;
}


header{
  display:flex;
  justify-content:space-between;
}

#nav-pc{
  font-size:14px;
  padding-top:15px;
  & a{
    text-decoration:none;
    margin-left:20px;

    &:link{
      color:#0d0d0d;
    }
    &:visited{
      color:#0d0d0d;
    }
    &:hover{
      color:#0d0d0d;
      text-decoration:underline;
    }
    &:active{
      color:#0d0d0d;
    }
  }
}

/*スマホナビの非表示*/
#nav-sp,
#menu-sp{
  display:none;
}

#main-visual{
  position:relative;
  height: 400px;
  & img{
    max-width:620px;
    border-radius:476px 0 0 0;
    position:absolute;
    top:0;
    right:0;
    z-index:10;
  }
}

#main-message{
  position:absolute;
  top:0;
  left:0;
  background-color:#2710d5;
  color:#ffffff;
  border-radius:0 0 476px 0;
  height: 100%;
  width: 100%;
  max-width:620px;
  z-index:11;
  & h1{
    font-size:60px;
    font-weight:bold;
    margin:100px 0 0 50px;
  }
  & p{
    font-size:28px;
    margin:0 0 0 50px;
  }
}

#mission{
  margin:80px auto 80px auto;
  width:100%;
}

#mission-flex{
  width:100%;
  display:flex;
  & div{
    width:50%;
    margin:20px;
  }
}

h2{
  margin:40px 0 0 0;
  &::after{
    content:url("images/line.png");
    margin-left:10px;
  }

}

#mission-photo{
  width:100%;
}

#s2dgs{
  margin-top:50px;
  width:100%;
}

h3{
  font-size:27px;
}

/*プロダクト全体のレイアウト*/

#product{
  background-color: #fafafa;
  margin:80px 0 80px 0;
  padding:10px 40px 0 40px;
  
  > div{
    /*プロダクト内の４つのdivをまとめるdiv要素*/
    margin-top:40px;
    display:flex;
  }
}

/*プロダクト左側のレイアウト*/
#product-left{
width:50%;
margin-right:20px;
> div{
  position:relative;
  height:480px;
  margin-right:20px;
}
}

/*プロダクト右側全体のレイアウト*/
#product-right{
width:50%;
margin-left:20px;
margin-top:80px;


> div{
  /*product-right内のdiv*/
  position:relative;
  height:480px;
  margin-left:20px;
}
}

/*画像のサイズ*/
.product-photo{
  width:100%;
}

/*画像下の文章レイアウト*/
.product-explain{
  background-color: #ffffff;
  position:absolute;
  left:0;
  top:280px;
  margin:0 40px 0 40px;
  padding:20px;
  box-shadow:5px 5px 10px rgba(0, 0, 0, 0.05);

  > span{
    color:#2710d5;
    font-weight:bold;
    font-size:16px;
    margin:0;
  }

  > h3{
      font-size:20px;
      margin:5px 0 5px 0;
    }

  > p{
      font-size:14px;
      margin:0;
    }
  
}

/*もっと見るの位置調整*/
#product-more{
    margin:0 auto -42px auto;
  }

  /*ABOUT USのCSS*/
  #aboutus{

  margin:80px auto ;

    > div{
      display:flex;
    }
    
  }

  .culture-img{
    width:100%;
    align-self:flex-start;
  }

  .culture-img2{
    margin-top:80px;
    width:100%;
  }

  .culture-table{
    margin-right:50px;
  }

  .culture-num{
    font-size:80px;
    color:#2710d5;
    margin-right:20px;
  }

  .culture-en{
    color:#2710d5;
    font-size:24px;
    font-weight:bold;
    display:block;
  }

  .culture-jp{
    font-size:28px;
    font-weight:bold;
  }

  .culture-description{
    margin:0;
  }

  #vision{
    margin:80px auto;

    > div{
      width:100%;
      display:flex;
      justify-content:space-between;
      flex-wrap:wrap;
    }
  }

  .vision-box{
    width:300px;
    height:300px;
    margin-bottom:30px;
    position:relative;

    > img{
      width:100%;
      height:auto;
      position:absolute;
      top:0;
      left:0;
      z-index:30;
    }

    > span{
      position:absolute;
      top:0;
      left:0;
      z-index:31;
      margin-right:20px;

      > h4{
        color:#2710d5;
        font-size:19px;
        margin-top:80px;

        &::first-letter{
          font-size:40px;
        }

      }
      

        > h5{
          font-size:20px;
          margin:0;
        }

        > p{
          margin-top:10px;
        }
    }
  }

  #company{
    margin:80px auto;

    > iframe{
      width:100%;
      height:368px;
      margin-top:40px;
    }
  }

  #company-table{
    width:100%;
  }

  .tableheader{
    text-align:left;
    padding:20px;
    border-bottom:1px solid #2710d5;
    width:100px;
  }

  .tableheader-first{
    border-top:1px solid #2710d5;
    @extend .tableheader;
  }

  .cell{
    padding:30px;
    border-bottom:1px solid #ececec;
  }

  .cell-first{
    border-top:1px solid #ececec;
    @extend .cell;
  }

  #contact{
    margin:80px auto;

    > form{
      > div{
        display:flex;
        flex-flow:row wrap;
        padding-bottom:30px;
      }
    }
  }

  .contact-heading{
    width:240px;
    align-self:center;
  }

  .contact-label{
    font-weight:bold;
  }

  .contact-span{
    color:#ce2222;
    margin-left:20px;
    font-weight:bold;
  }

  .contact-textbox{
  border:0;
  border-bottom:1px solid #707070;
  background-color:#fafafa;
  width:400px;
  height:56px;

  }

  .contact-textarea{
  @extend .contact-textbox;
    height:200px;
  }

  details{
    width:700px;

    > div{
      background-color:#fafafa;
      padding:20px;
      > span{
        font-weight:bold;
      }
    }
  }

  footer{
    background-color:#0d0d0d;
    text-align:center;
    padding:80px 80px 30px 80px;
  }

  #footer-logo{
    margin-bottom:30px;
  }

  #footer-link{
    margin-bottom:50px;
    > a{
      text-decoration:none;
      margin:10px;
      &:link{
        color:#ffffff;
      }

      &:visited{
        color:#ffffff;
      }
      &:hover{
        color:#ffffff;
        text-decoration:underline;
      }
      &:active{
        color:#ffffff;
      }
    }
  }

  #sns-footer{
    text-align:left;
    width:100%;
    > a{
      margin:30px;
    }
  }

  #copyright{
    color:#ffffff;
    float:right;
  }
  /*ここまでがPC用*/
}

/*スマホ用のスタイル*/

@media screen and (max-width:767px){
  
  body{
    min-width:375px;
    margin:0;
  }
  #nav-pc{
    display:none;
  }

  #menu-sp{
    float:right;
    padding:0;
  }

  #nav-sp{
    background-color:#2710d5;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:none;
    z-index:100;
  }

  #close{
    position:absolute;
    top:20px;
    right:20px;
  }

  #logo-sp{
    margin:80px 0 30px 20px;
  }

  #nav-sp{
    > a{
      display:block;

      &:link{
        color:#ffffff;
      }
      &:visited{
        color:#ffffff;
      }
      &:hover{
        color:#ffffff;
        text-decoration:underline;
      }
      &:active{
        color:#ffffff;
      }

      
    }
    
    > .menu{
        text-decoration:none;
        display:block;
        margin:0 20px;
        height:44px;
        font-size:16px;
        /*↓画像に対してのプロパティ*/
        background-image:url(../images/arrow.png);
        background-repeat:no-repeat;
        background-position:right;
        /*ここまで*/
      }
  }

  #sns{
    position:absolute;
    bottom:20px;
    left:20px;

    > a{
      margin-right:30px;
    }
  }

  #main-visual{
    position:relative;
    height:470px;
    width:100%;
    overflow:hidden;

    > div{
      position:absolute;
      top:0;
      left:0;
      background-color:#2710d5;
      color:white;
      border-radius:0 0 476px 0;
      text-align:center;
      height:280px;
      width:100%;
      z-index:11;
    }
  }

  h1{
    font-size:28px;
    margin-top:90px;
  }
}